body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:0px;
  width:720px;
  height:1280px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:1px;
  width:720px;
  height:40px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:2px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:136px;
  width:720px;
  height:1px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:66px;
  width:1px;
  height:46px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:64px;
  width:50px;
  height:50px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:71px;
  width:121px;
  height:39px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:163px;
  width:137px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:725px;
  height:10px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:221px;
  width:720px;
  height:5px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:156px;
  width:50px;
  height:50px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:725px;
  height:10px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:719px;
  width:720px;
  height:5px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  background:-webkit-linear-gradient(315deg, rgba(232, 106, 90, 1) 0%, rgba(232, 106, 90, 1) 59%, rgba(204, 51, 0, 1) 100%, rgba(204, 51, 0, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(232, 106, 90, 1) 0%, rgba(232, 106, 90, 1) 59%, rgba(204, 51, 0, 1) 100%, rgba(204, 51, 0, 1) 100%);
  background:linear-gradient(135deg, rgba(232, 106, 90, 1) 0%, rgba(232, 106, 90, 1) 59%, rgba(204, 51, 0, 1) 100%, rgba(204, 51, 0, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:270px;
  width:239px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:42px;
  background:-webkit-linear-gradient(315deg, rgba(232, 106, 90, 1) 0%, rgba(232, 106, 90, 1) 59%, rgba(204, 51, 0, 1) 100%, rgba(204, 51, 0, 1) 100%);
  background:-moz-linear-gradient(135deg, rgba(232, 106, 90, 1) 0%, rgba(232, 106, 90, 1) 59%, rgba(204, 51, 0, 1) 100%, rgba(204, 51, 0, 1) 100%);
  background:linear-gradient(135deg, rgba(232, 106, 90, 1) 0%, rgba(232, 106, 90, 1) 59%, rgba(204, 51, 0, 1) 100%, rgba(204, 51, 0, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:765px;
  width:239px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:355px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:860px;
  width:355px;
  height:355px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:170px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:355px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:860px;
  width:355px;
  height:355px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:170px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:355px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:860px;
  width:355px;
  height:355px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:181px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:975px;
  width:125px;
  height:125px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:337px;
  width:300px;
  height:300px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:337px;
  width:300px;
  height:300px;
  -webkit-transform:rotate(95deg);
  -moz-transform:rotate(95deg);
  -ms-transform:rotate(95deg);
  transform:rotate(95deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:28px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:1172px;
  width:214px;
  height:27px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:29px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:846px;
  width:225px;
  height:28px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:972px;
  width:138px;
  height:24px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:988px;
  width:35px;
  height:35px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1104px;
  width:35px;
  height:35px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:905px;
  width:40px;
  height:40px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:971px;
  width:76px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:849px;
  width:126px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:1199px;
  width:101px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:812px;
  width:133px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:933px;
  width:103px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:1162px;
  width:133px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#666666;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#2AAC92;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:568px;
  width:148px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#2AAC92;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#F19725;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:339px;
  width:148px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#F19725;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:28px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:585px;
  width:214px;
  height:27px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:29px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:381px;
  width:205px;
  height:28px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:519px;
  width:51px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:427px;
  width:51px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#FFFFFF;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:617px;
  width:175px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:1192px;
  width:189px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
