body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1236px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:350px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:14px;
  width:450px;
  height:350px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
  text-align:center;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:129px;
  width:175px;
  height:62px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
  text-align:center;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:230px;
  width:235px;
  height:24px;
  font-size:18px;
  color:#000000;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
  text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:350px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:402px;
  width:450px;
  height:350px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:436px;
  width:145px;
  height:24px;
  font-size:18px;
  color:#000000;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:542px;
  width:145px;
  height:24px;
  font-size:18px;
  color:#000000;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:568px;
  width:145px;
  height:92px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  color:#000000;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:668px;
  width:73px;
  height:31px;
  font-size:14px;
  color:#000000;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:350px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:794px;
  width:450px;
  height:350px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:809px;
  width:127px;
  height:24px;
  font-size:18px;
  color:#000000;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:849px;
  width:90px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:937px;
  width:90px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:937px;
  width:90px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:849px;
  width:90px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:849px;
  width:90px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:1022px;
  width:90px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:1022px;
  width:90px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1022px;
  width:90px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(255, 255, 255, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:937px;
  width:90px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:86px;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:350px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1189px;
  width:450px;
  height:350px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1218px;
  width:91px;
  height:24px;
  font-size:18px;
  color:#000000;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1426px;
  width:388px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 1);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 1);
  font-size:16px;
  color:#000000;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:1262px;
  width:80px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:1262px;
  width:80px;
  height:40px;
  font-size:16px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 204, 204, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 1);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 1);
  font-size:16px;
  color:#000000;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:1262px;
  width:78px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:1312px;
  width:80px;
  height:40px;
  font-size:16px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1262px;
  width:80px;
  height:40px;
  font-size:16px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1312px;
  width:78px;
  height:40px;
  font-size:16px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:1312px;
  width:79px;
  height:40px;
  font-size:16px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1312px;
  width:79px;
  height:40px;
  font-size:16px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1362px;
  width:78px;
  height:40px;
  font-size:16px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:1362px;
  width:79px;
  height:40px;
  font-size:16px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:1362px;
  width:79px;
  height:40px;
  font-size:16px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1362px;
  width:78px;
  height:40px;
  font-size:16px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  color:#000000;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:1478px;
  width:108px;
  height:31px;
  font-size:14px;
  color:#000000;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:350px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:1581px;
  width:450px;
  height:350px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1605px;
  width:73px;
  height:24px;
  font-size:18px;
  color:#000000;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  color:#000000;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:1841px;
  width:108px;
  height:31px;
  font-size:14px;
  color:#000000;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:163px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:1639px;
  width:239px;
  height:163px;
  font-size:20px;
  color:#FFFFFF;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:350px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:180px;
  width:450px;
  height:350px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:724px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:145px;
  width:547px;
  height:724px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:354px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:132px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:16px;
  width:547px;
  height:132px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:56px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:92px;
  width:547px;
  height:56px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:543px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:59px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:543px;
  width:71px;
  height:59px;
  color:#FFFFFF;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:67px;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:549px;
  width:72px;
  height:6px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:556px;
  width:57px;
  height:16px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1197px;
  width:143px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:140px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:308px;
  width:140px;
  height:140px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:446px;
  width:113px;
  height:34px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:714px;
  width:62px;
  height:32px;
  color:#FFFF00;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:714px;
  width:25px;
  height:29px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:410px;
  width:30px;
  height:23px;
  color:#FFFFFF;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:800px;
  width:30px;
  height:23px;
  color:#FFFFFF;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1197px;
  width:30px;
  height:23px;
  color:#FFFFFF;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:1588px;
  width:30px;
  height:23px;
  color:#FFFFFF;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1501px;
  width:62px;
  height:32px;
  color:#FFFF00;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1501px;
  width:25px;
  height:29px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1892px;
  width:62px;
  height:32px;
  color:#FFFF00;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1892px;
  width:25px;
  height:29px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFF00;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1106px;
  width:62px;
  height:32px;
  color:#FFFF00;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1106px;
  width:25px;
  height:29px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:45px;
  height:45px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:466px;
  width:35px;
  height:35px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:45px;
  height:45px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:466px;
  width:35px;
  height:35px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:45px;
  height:45px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:466px;
  width:35px;
  height:35px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:45px;
  height:45px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:511px;
  width:35px;
  height:35px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:45px;
  height:45px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:511px;
  width:35px;
  height:35px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:45px;
  height:45px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:511px;
  width:35px;
  height:35px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:45px;
  height:45px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:556px;
  width:35px;
  height:35px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:45px;
  height:45px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:556px;
  width:35px;
  height:35px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:45px;
  height:45px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:556px;
  width:35px;
  height:35px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:90px;
  height:45px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:601px;
  width:80px;
  height:35px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:45px;
  height:45px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:601px;
  width:35px;
  height:35px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:462px;
  width:161px;
  height:21px;
}
#u252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u252_input:disabled {
  color:grayText;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:483px;
  width:161px;
  height:54px;
}
#u253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:54px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:438px;
  width:109px;
  height:24px;
  font-size:18px;
  color:#000000;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(255, 255, 255, 0.647058823529412);
}
#u256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:350px;
  background:-webkit-linear-gradient(270deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(51, 204, 255, 1) 0%, rgba(51, 204, 255, 1) 0%, rgba(51, 153, 255, 1) 100%, rgba(51, 153, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:175px;
  width:450px;
  height:350px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
  text-align:center;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:290px;
  width:175px;
  height:62px;
  font-family:'幼圆 Bold', '幼圆 Regular', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF6600;
  text-align:center;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#000000;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:391px;
  width:235px;
  height:24px;
  font-size:18px;
  text-decoration:underline;
  color:#000000;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
  text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
  -webkit-text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
  -moz-text-shadow:2px 2px 5px rgba(255, 255, 255, 0.647058823529412);
}
